<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.SE104_DoAn">

<application
    android:allowBackup="true"
    android:label="SE104 Do An"
    android:theme="@style/Theme.AppCompat.Light.NoActionBar">
    <!-- Đặt LoginActivity là activity khởi động -->
    <activity android:name=".LoginActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity android:name=".MainActivity" />
    <activity android:name=".CardDetailActivity" />
</application>

</manifest>
